# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/
.env

# Node
node_modules/
dist/
.cache/

# Data (sessions dynamiques)
backend/app/data/sessions/*.json
backend/app/data/custom_scenarios/*.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
apikeyforclaude